<nav>
  <div class="nav-bar">
    <div class="logo">
      <a href="/">
        <%= image_tag("logo.png") %>
      </a>
    </div>
    <ul class="navbar-links">
      <li><a class="home-link" href="/">Home</a></li>
      <li><a class="about-link" href="/about">About</a></li>
      <li><a class="models-link" href="/models">Vehicle Models</a></li>
      <li><a class="testi-link" href="/testimonials">Testimonials</a></li>
      <li><a class="team-link" href="/team">Our Team</a></li>
      <li><a class="contact-link" href="/contact">Contact</a></li>
    </ul>
    <div class="nav-buttons">
      <a class="login-link" href="/login">Sign in</a>
      <a class="signup-link" href="/signup">Register</a>
    </div>
  </div>
</nav>
<section id="home" class="hero-section">
  <div class="container">
    <%= image_tag("bg-image.png", class: "bg-shape", alt: "bg-shape") %>
    <div class="hero-content">
      <div class="hero-content-text">
        <h4>Plan your trip now</h4>
        <h1>Save <span>big</span> with our car rental</h1>
        <p>Rent the car of your dreams. Unbeatable prices, unlimited miles, flexible pick-up options and much more.</p>
        <div class="hero-content-text-btns">
          <a class="hero-content-text-btns-book-ride" href="/">Book Ride &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-circle-check"><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path d="M9 12l2 2l4 -4"></path></svg></a>
          <a class="hero-content-text-btns-learn-more" href="/">Learn More &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-right"><path d="M9 6l6 6l-6 6"></path></svg></a>
        </div>
      </div>
      <%= image_tag("main-car.png", alt: "car-image") %>
    </div>
 </div>
</section>
<h1>Bookings</h1>